/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

.DS_store

# Temporary files
/tmp

# Static artifacts
/node_modules
/priv/static/assets

# Installer-related files
/installer/_build
/installer/tmp
/installer/doc
/installer/deps
